[user]
	name = alick 
	email = alick@demon.com

[alias]
	lg = log --graph \
		--pretty=format:'%Cred%h %an  %Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' \
		--abbrev-commit --date=relative
	tr = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
